#background {
  text-align: center;
  background: url("../../static/resource/background-image-05.jpg") no-repeat center center fixed;
  background-size: cover;
}

.opacity {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.login-form {
  display: inline-block;
  margin: 15rem 0;
  background: rgba(0, 0, 0, 0);

}

.login-name {
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0);
}

.username {
  color: white;
}

.login-password {
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0);
}

.password {
  color: white;
}

.login-button {
  width: 100%;
  background: rgba(255, 255, 255, 1);
}

.sign-button {
  width: 100%;
  margin-top: 1rem;
  background: rgba(135, 206, 235, 1);
}